@keyframes movePicture {
    from {
        margin-top: 0;
        margin-left: 0;
    }
    20% {
        margin-top: 28%;
        margin-left: 0;
    }
    40% {
        margin-top: 28%;
        margin-left: 80%;
    }
    60% {
        margin-top: 0;
        margin-left: 80%;
    }
    80% {
        margin-top: 0;
        margin-left: 0;
    }
    to {
        margin-top: 14%;
        margin-left: 40%;
    }
}

.picture {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    animation: movePicture 5s infinite;
}